
body{
  display: flex;
}
.App{
height: 600px;
width: 100vw;
}
.map{
  height: 100%;
  width: 100%;
}
.marker{
  background-image: url('https://i.imgur.com/oz3r3Wq.png');
  background-size: cover;
  width: 22px;
  height: 22px;
  background-color: yellow;
  border-radius: 11px;
  border: 1px solid black;
}